$blue:    #003da5 !default;

// scss-docs-start border-radius-variables
$border-radius:               .18rem !default;
$border-radius-sm:            .12rem !default;
$border-radius-lg:            .18rem !default;
$border-radius-pill:          50rem !default;