$blue:    #003da5 !default;

// scss-docs-start border-radius-variables
$border-radius:               .18rem !default;
$border-radius-sm:            .12rem !default;
$border-radius-lg:            .18rem !default;
$border-radius-pill:          50rem !default;

// scss-docs-start form-label-variables
$form-label-margin-bottom:              .2rem !default;
$form-label-font-size:                  15.5px !default;
$form-label-font-style:                 null !default;
$form-label-font-weight:                null !default;
$form-label-color:                      #2b2b2b !default;
