.suggestionsContainer {
  display: none;
  /*min-width: 100%;*/
  width: 100%;
}

.suggestionsContainerOpen {
  display: block;
  position: absolute;
  // width: calc(100% - 30px);
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;

  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.suggestionsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.suggestion {
  background-color: #fff;
  color: #435661;
  display: block;
  padding: 5px 8px 0px 8px;
  font-size: 12px;
  border-bottom: 1px solid lightgray;
}

.suggestionHighlighted {
  background-color: #e6e6e6;
  color: #3e515b;
}

.input {
  width: 100%;
}

.item {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.6s linear infinite;
}

.result {
  font-family: monospace;
  .attr {
    color: rgb(15, 15, 173);
    font-size: 18.5px;
    letter-spacing: 0.1em;
  }

  .explain {
    margin-top: 5px;
    display: inline-flex;
    font-size: 16px;
    div {
      margin-right: 8px;
    }
  }

  .abbrev {
    color: darkslategray;
    margin-right: 5px;
  }

  .stopWord {
    color: gray;
    text-decoration: line-through;
		margin-right: 5px;
  }

  .normal {
    margin-right: 5px;
  }
}

.alert {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue";
  font-size: 14px;
  color: rgb(160, 1, 1);
  margin-left: 10px;
}
