.attribute {
	font-family: monospace;
}

.tableFixed {
	width: 100%;
	margin-bottom: 0px;

	td {
		vertical-align: middle;
	}
}

.tableFixed th:nth-child(1),
.tableFixed td:nth-child(1) {
	width: 125px;
}

.tableFixed th:nth-child(2),
.tableFixed td:nth-child(2) {
	width: 225px;
}

.tableFixed th:nth-child(4),
.tableFixed td:nth-child(4) {
	width: 75px;
}

.tableFixed thead,
.tableFixed tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.tableFixed tbody {
	display: block;
	overflow-y: auto;
	table-layout: fixed;
	max-height: calc(100vh - 285px);
}

.action {
	padding: 0px 6px;
	margin-right: 7px;
}

.action:nth-last-child {
	margin-right: 0;
}

.toggled > tbody {
	max-height: calc(100vh - 202px);
}

/* scrollbar */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 2px;
	background: rgba(23, 23, 23, 0.35);
	//-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 255, 255, 0.3);
}
